/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Whitney', 'Helvetica Neue', Helvetica, Arial, sans-serif;

}

.color-container{
    background-color: lightblue;
    padding: 10px 0;

}
.flex-container{
    display: flex;
}

.container{
    width: 80%;
    margin: auto;
}

.section-container{
    width: 70%;
    margin: auto;
}

.container-star{
    text-align: center;
}

.btn-container{
    padding: 15px;

}

.btn-small{
    border-radius: 20px;
    padding: 10px;
    border: none;
    background-color: white;


}

.btn-large{
    border-radius: 30px;
    padding: 15px;
    border: none;
    font-size: 20px;

}

.btn-white{
    background-color: white;
}

.btn-black{
    background-color: black;
    color: white;
}

.btn-container{
    margin-top: 20px o;
}

.header-top{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}


/* LOGO */
.logo{
    width: 20%;


}
/*Nav */
nav{
    width: 60%;
    
}


/* Login */
.login{
    width: 20%;
    text-align: right;

}
.nav-col{
    justify-content: center;
    align-items: center;

}

.menu{
    list-style-type: none;
    justify-content: center;


}

.menu li{
    padding: 0 20px;
}

.menu li a{
    text-decoration: none;
    color: white;

}

.jumbotron{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    height: 530px;


    display: flex;
    justify-content: center;
    align-items: center;

}

h1{

    font-size: 50px;
    text-align: center;
    margin-bottom: 30px;

}

div .jumbotron-text{
    font-size: 20px;
    text-align: center;
    line-height: 35px;
    
}


.jumbotron-text{
    /* width: 50%; */
    height: 300px;
    padding: 50px;
    /* background-color: #ffc0cb; */





    /* width: 800px;
    height: 300px;
    background-color:#ee82ee;
    border: 2px dashed black ;
     */
}

.gray{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    /* test */
    /* height: 500px; */

}

.white{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;

    /* TEST */
    /* height: 500px; */

}

section:last-child{
    /* background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    /* height: 700px; */ 

}

.section-half-content{
    width: 650px;
    height: 450px;
    background-color: #1e90ff;
    border: 2px dashed black ;


}

.section-content{
    /* width: 390px; */
    /* height: 450px; */
    background-color: #ffc0cb;
    border: 2px dashed black ;

}
h2{
    font-size: 50px;
    padding-top: 30px;
}

h3{
    padding-bottom: 20px;
    font-size: 20px;

}

p{
    font-size: 20px;
    padding-top: 20px;
    
}

.star-img{
    width: 40%;
}

.last-image{
    width: 100%;

}

.last-section{
    /* width: 1040px;
    height: 650px; */
    background-color: #228b22;
    /* border: 2px dashed black ; */
    ;

}

.top-footer{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    height: 500px;

}

.col-big{
    width: 300px;
    height: 475px;
    background-color: #f08080;
    border: 2px dashed black ;

}

.col-small{
    width: 185px;
    height: 475px;
    background-color: #20b2aa;
    border: 2px dashed white ;
}

hr{
    border: 1px solid white;
    
}

.footer-bottom{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

    /* TEST */
    height: 100px;
}

.final-part{
    width: 1050px;
    height: 50px;
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    background-color: pink;
    border: 2px dashed black ;

}

.bottone-footer{
    background-color: pink;
    border: 2px dashed black ;

}
